

#C1 {
  margin-top: 20px;
}

#comboSec {
  padding:0 5px 0 5px;
}


.wrapper {
  height:14vh;
}

.wrapperCoupons {
  height:100vh;
}

.card1 {
  margin-top: 10px;
  width: 100%;
  background-color: #ff8246;
  text-align:center;
  height:120px;
  margin: 0 0 20px 0;
  border-radius: 15px;
  box-shadow: 1px 1px 1px black;
}

.card2 {
  margin-top: 10px;
  width: 100%;
  background-color: #FFD9A2;
  text-align:center;
  height:120px;
  margin: 0 0 20px 0;
  padding: 0;
  border-radius: 15px;
  box-shadow: 1px 1px 1px black;


}

.prices {
  font-size: 150%;
  text-align:left;
  margin: 0;
  padding: 0;
  color: green;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
}

.Stext {
  font-size: 70%;
  color: white;
}

.eText {
  color: white;
}


/* Coupon styles Start */





/* Directions styles Start */

.map {
 margin-top: 400px;
}
